.hq{
    margin-left: 5%;
    margin-top: 10%;
}

form{
    width: 50%;
    margin-left: 5%;
}

@media screen and (max-width:1000px){
    
form{
    width: 90%;
    margin-left: 5%;
}
.hq{
    margin-left: 5%;
    margin-top: 60%;
}

}