.block1{
    display: block;
    text-align: center;
    margin: 15% auto 0 auto;
}

.btn{
    margin: 0 auto;
    display: block;
    background-color: black;
    color: #eee;
}

@media screen and (max-width:1000px){
    .block1{
        display: block;
        text-align: center;
        margin: 80% auto 0 auto;
    } 
}


:root {
    --var-bgcolor: #fff;
    --var-fontcolor: #000;
  }
  
@media (prefers-color-scheme: dark) {
    :root {
        --var-bgcolor: #000;
        --var-fontcolor: #eee;
      }
    .navbar{
        color: #eee;
        background-color: #000;
    }
    .btn{
        background-color: #eee;
        color: #000;
    }
}

body {
    background-color: var(--var-bgcolor);
    color: var(--var-fontcolor);
  }